@media only screen and (max-width:520px){
    main{
        .slideshow{
            height: 300px;
        }
        .boxes{
            grid-template-columns: 1fr;
        }
    }
    .login-form{
        form{
            padding: 2em;
            width: 100%;
        }
    }
}