@font-face {
  font-family: Aladin;
  src: url(../fonts/Aladin-Regular.ttf);
}

@font-face {
  font-family: orbitron;
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: lato;
}

body header .header {
  min-height: 200px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

body header .header .navBtn .open, body header .header .navBtn .close {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #002b3a;
  outline: none;
}

body header .header .navBtn .open i, body header .header .navBtn .close i {
  font-size: 48px;
}

body header .header .navBtn .close {
  display: none;
}

body header .header h1 {
  color: #002b3a;
  letter-spacing: 2px;
  font-size: 3em;
}

body header .header h1 a {
  outline: none;
  text-decoration: none;
  color: inherit;
  font-family: aladin;
}

body header .header h1 a:hover {
  color: #00a2ff;
}

body header .header .user button {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #002b3a;
  color: #002b3a;
  font-family: aladin;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body header .header .user:hover button {
  background-color: #002b3a;
  color: #fff;
}

body nav .navbar {
  display: none;
}

body nav .nav {
  background-color: #002b3a;
  display: block;
}

body nav .nav #bar {
  overflow: auto;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body nav .nav #bar a {
  outline: none;
  cursor: pointer;
  padding: 1em;
  color: #fff;
  text-decoration: none;
}

body nav .nav #bar a:hover {
  background-color: #00a2ff;
  color: #fff;
  text-decoration: none;
}

body nav .nav #bar .active {
  background-color: #00a2ff;
  color: #fff;
  text-decoration: none;
}

body main {
  position: relative;
  height: 100%;
}

body main .section {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  min-width: 200px;
  max-width: 250px;
  background-color: #002b3a;
  top: 0;
  z-index: 10;
  left: -250px;
}

body main .section .box .btn {
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 1em 0.5em;
  background-color: transparent;
  border: none;
  color: #fff;
}

body main .slideshow {
  width: 100%;
  height: 480px;
  position: relative;
  overflow: hidden;
}

body main .slideshow .slides {
  width: inherit;
  height: inherit;
}

body main .slideshow .slides img {
  width: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body main .slideshow .prevBtn {
  cursor: pointer;
  outline: none;
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 5;
  color: #fff;
}

body main .slideshow .prevBtn i {
  font-size: 48px;
}

body main .slideshow .nextBtn {
  cursor: pointer;
  outline: none;
  display: block;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 5;
  color: #fff;
}

body main .slideshow .nextBtn i {
  font-size: 48px;
}

body main .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 2em;
}

body main .boxes .box1, body main .boxes .box2, body main .boxes .box3, body main .boxes .box4, body main .boxes .box5, body main .boxes .box6 {
  height: 250px;
  position: relative;
  overflow: hidden;
}

body main .boxes .box1 img, body main .boxes .box2 img, body main .boxes .box3 img, body main .boxes .box4 img, body main .boxes .box5 img, body main .boxes .box6 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .boxes .box1 .info, body main .boxes .box2 .info, body main .boxes .box3 .info, body main .boxes .box4 .info, body main .boxes .box5 .info, body main .boxes .box6 .info {
  position: absolute;
  background-color: #002b3a;
  padding: 4em;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(100%) rotateX(90deg);
          transform: translateY(100%) rotateX(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .boxes .box1 .info p, body main .boxes .box2 .info p, body main .boxes .box3 .info p, body main .boxes .box4 .info p, body main .boxes .box5 .info p, body main .boxes .box6 .info p {
  text-align: justify;
}

body main .boxes .box1 .info button, body main .boxes .box2 .info button, body main .boxes .box3 .info button, body main .boxes .box4 .info button, body main .boxes .box5 .info button, body main .boxes .box6 .info button {
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1em 2em;
  border-radius: 2em;
}

body main .boxes .box1 .info button:hover, body main .boxes .box2 .info button:hover, body main .boxes .box3 .info button:hover, body main .boxes .box4 .info button:hover, body main .boxes .box5 .info button:hover, body main .boxes .box6 .info button:hover {
  background-color: #00a2ff;
  border-color: #00a2ff;
}

body main .boxes .box1:hover img, body main .boxes .box2:hover img, body main .boxes .box3:hover img, body main .boxes .box4:hover img, body main .boxes .box5:hover img, body main .boxes .box6:hover img {
  -webkit-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg);
}

body main .boxes .box1:hover .info, body main .boxes .box2:hover .info, body main .boxes .box3:hover .info, body main .boxes .box4:hover .info, body main .boxes .box5:hover .info, body main .boxes .box6:hover .info {
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

body footer .footer {
  display: -ms-grid;
  display: grid;
  background-color: #002b3a;
  color: #fff;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

body footer .footer .f1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 2em;
  text-align: center;
}

body footer .footer .f1 img {
  width: auto;
  height: auto;
}

body footer .footer .row1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer .row1 h6 {
  font-size: 1.3em;
  text-transform: uppercase;
}

body footer .footer .row1 a {
  outline: none;
  padding: 0.5em 0;
  color: #fff;
  text-decoration: none;
}

body footer .footer .row1 a:hover {
  text-decoration: none;
}

body footer .footer .row2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer .row2 h6 {
  font-size: 1.3em;
  text-transform: uppercase;
}

body footer .footer .row2 a {
  outline: none;
  padding: 0.5em 0;
  color: #fff;
  text-decoration: none;
}

body footer .footer .row2 a:hover {
  text-decoration: none;
}

body footer .footer .row3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer .row3 h6 {
  font-size: 1.3em;
  text-transform: uppercase;
}

body footer .footer .row3 a {
  outline: none;
  padding: 0.5em 0;
  color: #fff;
  text-decoration: none;
}

body footer .footer .row3 a:hover {
  text-decoration: none;
}

body footer .f3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  padding: 2em 0;
}

body footer .f3 p {
  color: #002b3a;
  text-align: center;
  width: 100%;
}

body footer .f3 p b {
  font-family: aladin;
  font-size: 1.2em;
}

body footer .f3 :nth-child(2) {
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  body nav .navbar {
    display: block;
    padding: 1em;
    background-color: #002b3a;
  }
  body nav .navbar .arrow {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    color: #fff;
  }
  body nav .navbar .arrow i {
    font-size: 2em;
  }
  body nav .navbar .closing {
    width: 100%;
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
  }
  body nav .navbar .closing i {
    font-size: 2em;
  }
  body nav .nav {
    display: none;
  }
  body nav .nav #bar {
    width: 100%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .slideshow {
    height: 400px;
  }
  body main .boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body main .boxes .box1, body main .boxes .box2, body main .boxes .box3, body main .boxes .box4, body main .boxes .box5, body main .boxes .box6 {
    display: -ms-grid;
    display: grid;
    overflow: hidden;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 200px 50px;
        grid-template-rows: 200px 50px;
  }
  body main .boxes .box1 img, body main .boxes .box2 img, body main .boxes .box3 img, body main .boxes .box4 img, body main .boxes .box5 img, body main .boxes .box6 img {
    height: 200px;
  }
  body main .boxes .box1 .info, body main .boxes .box2 .info, body main .boxes .box3 .info, body main .boxes .box4 .info, body main .boxes .box5 .info, body main .boxes .box6 .info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
  body main .boxes .box1 .info p, body main .boxes .box2 .info p, body main .boxes .box3 .info p, body main .boxes .box4 .info p, body main .boxes .box5 .info p, body main .boxes .box6 .info p {
    display: none;
  }
  body main .boxes .box1 .info button, body main .boxes .box2 .info button, body main .boxes .box3 .info button, body main .boxes .box4 .info button, body main .boxes .box5 .info button, body main .boxes .box6 .info button {
    margin-top: 0.6em;
    padding: 0.5em 1em;
    border-radius: 2em;
  }
  body main .boxes .box1:hover img, body main .boxes .box2:hover img, body main .boxes .box3:hover img, body main .boxes .box4:hover img, body main .boxes .box5:hover img, body main .boxes .box6:hover img {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
  body footer .footer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  body footer .footer .f1 {
    display: none;
  }
  body footer .footer .row1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  body footer .footer .row2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body footer .footer .row3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

@media screen and (max-width: 520px) {
  body main .slideshow {
    height: 300px;
  }
  body main .boxes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */